body {
  background-color: #fce38a;
}
header {
  background-color: #95e1d3;
  padding: 2.9rem 0;
  text-align: center;
  color: #1a1c1a;
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Fredoka", sans-serif;
  margin-top: -20px;
}
legend {
  text-align: center;
  margin-bottom: 2rem;
  font-family: "Fredoka", sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
}
main,
form {
  margin: 5rem auto 0 auto;
  max-width: 1000px;
  width: 90%;
  padding: 3rem;
  /* background-color: white; */
  background-color: #eaffd0;

  box-shadow: -1px 15px 62px -35px rgba(0, 0, 0, 0.96);
  -webkit-box-shadow: -1px 15px 62px -35px rgba(0, 0, 0, 0.96);
  -moz-box-shadow: -1px 15px 62px -35px rgba(0, 0, 0, 0.96);
  border-radius: 0.8rem;
}

@media (min-width: 768px) {
  .form-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-items: center;
  }
}

form label {
  display: block;
  margin: 0.28rem 0;
  color: #f38181;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bold;
}
@media (min-width: 768px) {
  form label {
    margin: 0.28rem 0;
  }
}

form input[type="text"] {
  width: 100%;
  border-radius: 0.3rem;
  border: 1px solid #cbd5e1;
  padding: 0.5rem;
}
form input[type="submit"] {
  background-color: #f38181;
  border: none;
  border-radius: 0.35rem;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Fredoka", sans-serif;
  color: #1a1c1a;
  padding: 0.69rem;
  display: block;
  width: 100%;
  margin-top: 1.09rem;
}
form input[type="submit"]:hover {
  cursor: pointer;
  background-color: #e56464;
  color: #fafbfc;
}

.alert {
  border-bottom: 2px solid #d51007;
  text-align: center;
  padding-bottom: 0.2rem;
  width: auto;
  display: block;
  font-family: "Fredoka", sans-serif;
  font-weight: 600;
}

.text-center {
  text-align: center;
  font-family: "Fredoka", sans-serif;
  font-weight: 600;
}
.lyrics {
  white-space: pre-wrap;
  font-family: "Fredoka", sans-serif;
}

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1,
.cube2 {
  background-color: #f38181;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-cubemove 1.2s infinite ease-in-out;
  animation: sk-cubemove 1.2s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

@-webkit-keyframes sk-cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg)
      scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  }
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg)
      scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
